<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>@ViewBag.Title 上海网聚化工有限公司</title>
<link rel="shortcut icon" href="http://www.google.com/favicon.ico" />
<link href="~/Content/index.css" rel="stylesheet" />
  
<meta name="robots" content="all" />
   

<meta name="keywords" content="医药原料及中间体，无机化工产品，香精香料及植物提取物，食品化工产品，有机化工产品，农资化工产品" />
<meta name="description" content="上海网聚化工有限公司和进出口有限公司是以无机化工、有机化工、精细化工、香精香料、食品添加剂、医药原料及中间体等经营、销售为一体的高科技化工企业。" />
<meta name="Identifier-URL" content="http://www.netgather.com" />
 @Styles.Render("~/Content/css")
 @Scripts.Render("~/bundles/modernizr")
 
 
<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
<link rel="Bookmark" href="/favicon.ico" type="image/x-icon" />
 
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.KinSlideshow-1.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/webtry_roll.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>
 @Scripts.Render("~/bundles/jquery")
 @Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">
    ddsmoothmenu.init({
        mainmenuid: "MainMenu", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })
</script>
</head>
<body>
<div id="wrapper">
    <div class="top">
    <img src="/Images/logo.gif" width="650" height="90" alt="上海网聚化工有限公司" />
    <div id="lang">
        @Html.Partial("_LoginPartial")
    @*   <a href="/Account/Login"><img src="/Images/login.png" width="16" height="11" alt="Login" />Login</a> |
        <a href="javascript:if(confirm('只有企业版才有多语言功能，请点击确定访问netgather.com咨询。')){location.href='http://www.netgather.com'}"><img src="/Images/gb.gif" width="16" height="11" alt="English" />English</a>*@

    </div>
  </div>
  <div id="MainMenu" class="ddsmoothmenu">
    <ul>
      <li><a href="/Home/Index"><span>公司主页</span></a> </li>

      <li><a href="/Home/About"><span>关于我们</span></a>
          <ul class="menulevel">
              <li><a href="/Home/Organize"><span>组织构架</span></a> </li>
              <li><a href="/Home/Historys"><span>公司历史</span></a></li>
              <li><a href="/Home/Contact"><span>联系方式</span></a></li>
          </ul>
      </li>
      <li> <a href="/Products/Index"><span>产品展示</span></a>
          <ul class="menulevel">
              <li><a href="products.html" title="医药原料及中间体">医药原料及中间体</a></li>
              <li><a href="products.html" title="无机化工产品">无机化工产品</a></li>
              <li><a href="products.html" title="香精香料及植物提取物">香精香料及植物提取物</a></li>
              <li><a href="products.html" title="食品化工产品">食品化工产品</a></li>
              <li><a href="products.html" title="有机化工产品">有机化工产品</a></li>
              <li><a href="products.html" title="农资化工产品">农资化工产品</a></li>

          </ul>

      </li>
      <li><a href="/News/Index"><span>新闻中心</span></a> </li>
      <li><a href="/Jobs/Index"><span>招聘信息</span></a></li>
      <li><a href="/Others/Guest"><span>留言反馈</span></a> </li>
      <li><a href="http://www.netgather.com"><span>网聚网</span></a> </li>
    </ul>
  </div>
<script type="text/javascript">
    $(function () {
        $("#banner").KinSlideshow({
            moveStyle: "right",
            titleBar: { titleBar_height: 32, titleBar_bgColor: "#000", titleBar_alpha: 0.7 },
            titleFont: { TitleFont_size: 12, TitleFont_color: "#FFFFFF", TitleFont_weight: "normal" },
            btn: { btn_bgColor: "#2d2d2d", btn_bgHoverColor: "#1072aa", btn_fontColor: "#FFF", btn_fontHoverColor: "#FFF", btn_borderColor: "#4a4a4a", btn_borderHoverColor: "#1188c0", btn_borderWidth: 1 }
        });
    })
</script>
  <div id="banner">
    <a href="#"><img src="/Images/banner01.jpg" alt="多年的经营过程中，不断优化货源渠道，使产品价格更具竞争力！" width="950" height="152" /></a>
    <a href="#"><img src="/Images/banner02.jpg" alt="多年的经营过程中，不断优化货源渠道，使产品价格更具竞争力！" width="950" height="152" /></a>
    <a href="#"><img src="/Images/banner03.jpg" alt="多年的经营过程中，不断优化货源渠道，使产品价格更具竞争力！" width="950" height="152" /></a>
  </div>


            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

 
 <div id="copyright"> Copyright ©2004-2011&nbsp;<a href="http://www.netgather.com" title="上海网聚化工有限公司">上海网聚化工有限公司www.netgather.com</a> All Rights Reserved.<br />
    <span>地址: </span>上海市嘉定区华亭镇　<span>邮编: </span>200000　<span>联系人: </span>网聚化工<br />
    <span>电话: </span>021-58888888　<span>传真: </span>021-58888888　<span>手机: </span>13888888888<br />
    <span>邮箱: </span>netgather@netgather.com
  </div>
</div>
    
    @RenderSection("scripts", required: false)
</body>
</html>
